*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item{
    color: darkblue;
    cursor: pointer;
}
#imglogo{
    height: 60px;
}
a{
    text-decoration: none;
    color: inherit;
}